/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  font-weight: 500;
}
a {
  text-decoration: none;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
}
#portfolio {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.filters button {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 37px;
  background-color: white;
  font-weight: 700;
  color: #1d6154;
}
.filters button:hover {
  background-color: #1d6154;
  color: white;
}

.filters .active-filter {
  background-color: #1d6154;
  color: white;
}

.filters {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

/**** page de login ****/

.page-html,
.page-body,
.page-main {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: auto;
  max-width: 1140px;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  display: flex;
  justify-content: flex-end;
}

.page-body form,
input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn-connect {
  background-color: #1d6154;
  color: white;
  border: 1px solid #1d6154;
  width: 180px;
  height: 35px;
  border-radius: 60px;
}
.page-main h1 {
  color: #1d6154;
  text-align: center;
  font-weight: 700;
}

#password,
#email {
  width: 380px;
  height: 50px;
  border: none;
  box-shadow: 0 4px 14px 0 #00000017;
}

#login {
  display: block;
}

#logout {
  display: none;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.modify {
  display: none;
  align-items: center;
  gap: 5px;
}
.edition {
  margin: 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 60px;
  gap: 10px;
}

dialog {
  padding: 0px;
  border: 1px solid white;
  border-radius: 16px;
}
dialog::backdrop {
  background-color: grey;
  opacity: 0.75;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modalTwo {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modal-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.modalTwo .modal-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-main {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.modal-main h3 {
  font-size: 26px;
  text-align: center;
}

figure i {
  position: relative;
  bottom: 80px;
  right: 22px;
  color: white;
  background-color: black;
  padding: 3px;
  font-size: 10px;
  text-align: center;
  border-radius: 2px;
  margin-right: -20px;
}
.picture-remove {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 10px;
}

.picture-remove img {
  width: 75px;
}
.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  border-top: 1px solid #b3b3b3;
  padding-top: 25px;
  padding-bottom: 25px;
}

.modal-footer button {
  width: 240px;
  height: 36px;
  background-color: #1d6154;
  color: white;
  border: 1px solid #1d6154;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

#forgot-pass {
  font-size: 14px;
  color: #050505;
  text-decoration: underline;
}
.forgot-pass {
  text-align: center;
}

.drop-zone {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #e8f1f6;
  width: 100%;
}
.image-upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.fa-image {
  font-size: 75px;
  color: #b9c5cc;
  cursor: pointer;
}

.drop-zone button {
  width: 150px;
  height: 35px;
  background-color: #cbd6dc;
  color: #306685;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}
.drop-zone input {
  display: none;
}

.title-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-categories input,
.title-categories select {
  width: 420px;
  height: 50px;
  border: none;
  box-shadow: 0 4px 14px 0 #00000017;
  background-color: white;
}
.modalTwo form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#img-uploaded {
  max-width: 130px;
  height: auto;
}
#ext-img {
  padding: 15px;
}
#btn-upload {
  background-color: #1d6154;
  color: white;
  border: 1px solid #1d6154;
  width: 180px;
  height: 35px;
  border-radius: 60px;
  margin-top: 15px;
}
#btn-upload:disabled {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  width: 180px;
  height: 35px;
  border-radius: 60px;
  margin-top: 15px;
}
